<!DOCTYPE html>
<html lang="en" ng-app='app'>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
    <meta charset="UTF-8">
    <title>MyApp</title>
  </head>
  <body class="bg-light">
    <header class="conteiner m-3">
      <h3 class="text-center text-primary">
      Parse your text to XML and CVS format</h3>
    </header>
    <main class="conteiner">
      
      <div class="row mb-2 d-flex flex-row justify-content-center">
        <article ng-controller="InputCtrl as input"  class="col-10">
          <textarea name="text"  
            ng-model="input.text" 
            ng-change="input.onChange()" 
            class="output w-100 ">
          </textarea>
        </article>
      </div>
     
      <div class="row flex-row justify-content-center">
        <article ng-controller="ShowXmlCtrl as showXml" class="col-5">
          <button type="button" ng-click="showXml.showXML()" class="btn btn-primary mb-2 w-100">Parse to XML</button>
          <div class='output border rounded bg-white p-1'>
            <span>  {{showXml.xmlHeader}}<br>
                    {{showXml.xmltext}}<br></span> 
            <ul ng-repeat="sentence in showXml.sentences track by $index" 
              class="mb-0 ml-0">
              {{'<'+'sentence'+'>'}}
              <li ng-repeat="item in sentence track by $index">{{'<'+'word'+'>' + item + '<\/'+'word'+'>'}}</li>
              {{'<\/'+'sentence'+'>'}}
            </ul>
            <span>{{showXml.xmltextend}}</span>
          </div>
        </article>
        
        <article ng-controller="ShowCsvCtrl as showCVS" class="col-5">
          <button type="button" ng-click="showCVS.showCVS()" class="btn btn-primary w-100 mb-2">Parse to CVS</button>
          <div class='output border rounded bg-white'>
            <ul class="ml-0" >
              <li ng-repeat="x in [].constructor(showCVS.max_length) track by $index" 
                class="d-inline-flex">
                {{"Word" + ($index+1)+", "}}
              </li>
              <div ng-repeat="sentence in showCVS.sentences track by $index" class="ml-3">
                {{'Sentence'+ ($index+1) + ', '}}
                <div ng-repeat="item in sentence track by $index  " 
                  class="d-inline-flex ml-3">
                  {{item + ', '}}
                </div>
                <br>
              </div>
            </ul>
            <br>
          </div>  
        </article>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/parse.to.sentences/parse.to.sentences.factory.js"></script>
    <script src="js/input.ctrl/app.input.js"></script>
    <script src="js/app.show.xml/app.showxml.ctrl.js"></script>
    <script src="js/app.show.cvs/app.showcvs.ctrl.js"></script>
  </body>
</html>